{{outlet}}
<div class="container">
    <div class="row">
        <div class="card product">  
               <img src={{model.image}} width="500px" alt="image">
        </div>
    </div>
    <h1>{{model.name}}</h1>
    <h1>{{model.price}} Rs</h1>
    <button>Buy Now</button>
</div>